* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
    background-color: #FFF;
}

a {
    text-decoration: none;
}

.navbar,
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    width: 100%;
    height: 15vh;
    font-weight: bold;
    color: #FFF;
    background-color: #000;
}

.navbar {
    font-size: 3rem;
}

.wrapper {
    flex: 1;
}

.wrapper > * {
    border: 1px solid red;
}

.social-media {
    width: 2rem;
    height: auto;
}